@charset "utf-8";

body {
	color: #fff;
	background-color: #111;
	font-size: 16px;
}

.header, .footer {
	text-align: center;
}

a {
	text-decoration: none;
	padding: 0 2px 1px;
	border-bottom: 1px solid gold;
	color: gold;
}

.footer {
	font-size: 85%;
	color: #999;
	padding: 10px 0 20px;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

#nure {
	position: fixed;
	top: 50px;
	left: -215px;
	height: 80px;
	width: 240px;
	border-radius: 0 10px 10px 0;
	background-color: #f6ecda;
	transition: all .3s ease-in-out;
	color: black;
}
#nure:hover {
	left: 0;
}
#nure a {
	color: black;
}
#nure .contacts {
	position: absolute;
	right: 0;
	height: 80px;
	padding: 0 3px 0 5px;
	text-align: center;
	background-color: gold;
	transform: rotate(180deg);
	border-radius: 10px 0 0 10px;
	writing-mode: vertical-lr;
	pointer-events: none;
}
#nure .site > * {
	float: left;
	margin: 15px 10px;
}
#nure .site > div {
	width: 120px;
}
